<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content">
                <nav>
                    <ul class="row">
                        <li><a href="../Views/product.html">product</a></li>
                        <li class="signup"><a href="../Views/signup.html">Signup</a></li>
                        <li class="login"><a href="../Views/login.html">Login</a></li>
                        <li class="logout" style="display: none;"><a href="">Logout</a></li>
                        <li><a href="../Views/productadd.html">add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="img-box">
                        <img src="../Image/Wavy_Tech-28_Single-10.jpg" alt="">
                    </div>
                    <div class="signup-form">
                        <form id="login">
                            <input type="text" name="email" placeholder="email" id="email">
                            <input type="text" name="password" placeholder="password" id="password"><br>
                            <button type="submit" value="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    document.getElementById("login").addEventListener("submit",(e)=>{
        e.preventDefault()
        let obj={
            email:document.getElementById("email").value,
            password:document.getElementById("password").value,
        }
       fetch("http://localhost:8090/login",{
        method:"POST",
        headers:{"content-type":"application/json"},
        body:JSON.stringify(obj)
       }).then((res)=>res.json())
       .then((data)=>{
           let a=document.cookie=`token=${data.token};path=/`;
           let b=document.cookie=`name=${data.username};path=/`;
       })
    })

    //  let cookie=document.cookie.split(";")[0]
    //  console.log(cookie);
    // let name=cookie.split("=")[1]
    // console.log(name);
    // let named=cookie.split("=")[0]

    // let t=document.cookie.split(";")[0]
    // let token=document.cookie.split("=")[0]
    let cookie= document.cookie.split(";")[0].split("=")[0];
    console.log(cookie)
    let userName= document.cookie.split(";")[1].split("=")[0];
    console.log(userName)
    let name =document.cookie.split(";")[1].split("=")[1];



    if(document.cookie){
        document.querySelector(".signup").innerHTML=name
        document.querySelector(".logout").style.display="block"
        document.querySelector(".login").style.display="none"
    }
    const deletC=(name)=>{
        document.cookie=name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
    }
    document.querySelector(".logout").addEventListener("click",()=>deletC(cookie))
    document.querySelector(".logout").addEventListener("click",()=>deletC(userName))
</script>
</html>