<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content">
                <nav>
                    <ul class="row">
                        <li><a href="../Views/product.html">product</a></li>
                        <li class="signup"><a href="../Views/signup.html">Signup</a></li>
                        <li class="login"><a href="../Views/login.html">Login</a></li>
                        <li class="logout" style="display: none;"><a href="">Logout</a></li>
                        <li><a href="../Views/productadd.html">add</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="conatiner">
            <div id="product"></div>
        </div>
    </section>
    
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    const pay=async(amount)=>{
        let res=await fetch("http://localhost:8090/pay",{
            method:"POST",
            headers:{"content-type":"application/json"},
            body:JSON.stringify({amount:amount})
        })
        let oder=await res.json()
        console.log(oder);
        let option={
            key:"rzp_test_QKpP9x2uZ7C2u1",
            amount:oder.amount,
        }
        let razorpay=new Razorpay(option)
        razorpay.open()
    }

    const display=(data)=>{
        data.map((ele)=>{
            console.log(ele);
            let img=document.createElement("img")
            img.src=ele.img
            let title=document.createElement("h2")
            title.innerHTML=ele.title
            let price=document.createElement("h4")
            price.innerHTML=ele.price
            let dec=document.createElement("p")
            dec.innerHTML=ele.des

            let buy=document.createElement("button")
            buy.innerHTML=`Buy Now`

            buy.addEventListener("click",()=>{
                pay(ele.price)
            })
    
            
           
            let div=document.createElement("div")
            div.setAttribute("class","Product-div")
            div.append(img,title,price,dec,buy)
            document.getElementById("product").append(div)

        })
    }

   const get=()=>{
    fetch("http://localhost:8090/add")
    .then((res)=>res.json())
    .then((data)=>{
        display(data)
    })
   }
   get()
   let cookie= document.cookie.split(";")[0].split("=")[0];
    console.log(cookie)
    let userName= document.cookie.split(";")[1].split("=")[0];
    console.log(userName)
    let name =document.cookie.split(";")[1].split("=")[1];



    if(document.cookie){
        document.querySelector(".signup").innerHTML=name
        document.querySelector(".logout").style.display="block"
        document.querySelector(".login").style.display="none"
    }
    const deletC=(name)=>{
        document.cookie=name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
    }
    document.querySelector(".logout").addEventListener("click",()=>deletC(cookie))
    document.querySelector(".logout").addEventListener("click",()=>deletC(userName))
</script>
</html>